.toolbar {
    width: 100%;
}

.toolbar__auth {
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 2;
}

.toolbar__auth_text {
    margin: 8px var(--page-safe-horizontal-area);
}

.toolbar__auth_text span {
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.toolbar__top {
    display: flex;
    align-items: center;
    height: 90px;
    margin-top: 40px;
}

.toolbar__top_search button {
    height: 40px;
    width: 70px;
    background-color: #e62e2d;
    color: white;
    font-weight: 800;
}

.toolbar__top_search button:focus {
    outline: none;
}

.toolbar__top_search input {
    height: 40px;
    width: 350px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    transform: translateX(4px);
    box-sizing: border-box;
}

.toolbar__top_search input:focus {
    outline: none;
}

.toolbar__nav {
    position: absolute;
    width: 100%;
    background-color: #e62e2d;
    height: var(--nav-bar-size);
    left: 0px;
}

@media only screen and (max-width: 767px) {
    .toolbar__nav {
        display: none;
    }
    .toolbar__auth .spacer {
        display: none;
    }
    .toolbar__auth_text {
        flex: 1;
        text-align: center;
    }
    .toolbar__top_search {
        display: none;
    }
    .toolbar__auth div {
        width: 100%;
    }
    .toolbar__auth p {
        font-size: .9rem;
    }
    .sm-spacer {
        flex: 1;
    }
}

.toolbar__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 var(--page-safe-horizontal-area);
    height: 100%;
    align-items: center;
}

.toolbar__nav li {
    padding-left: 100px;
}

.toolbar__nav li:first-of-type {
    padding-left: 0;
}

.toolbar__nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
}

.toolbar__nav a:hover,
.toolbar__nav a:active {
    color: white;
}

@media only screen and (max-width: 1023px) {
    .toolbar__nav a {
        font-size: 11px;
    }
}