.schema-buttons {
    height: 33%;
}

.schema-buttons img {
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.schema-buttons {
    height: 33%;
}

@media only screen and (max-width: 767px) {
    .schema-buttons {
        display: none;
    }
}