.side_drawer {
    height: 100vh;
    background: white;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side_drawer.open {
    transform: translateX(0);
}

.side_drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_drawer li {
    margin: 0.5rem;
}

.side_drawer a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.side_drawer a:hover,
.side_drawer a:active {
    color: black;
}