.catalogueMain__content_products-list {
    display: flex;
    flex-wrap: wrap;
}

.catalogueMain__content_products {
    flex: 20%;
    margin-bottom: 20px;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    .catalogueMain__content_products {
        flex: 40% 1;
    }
}

.catalogueMain__content_products {
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogueMain__content_products_image-container {
    width: var(--items-width);
    height: var(--items-heigth);
    border: 1px solid #E6DFDA;
}

.catalogueMain__content_products_image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalogueMain__content_products_description-container-title {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    height: 20px;
}

.catalogueMain__content_products_description-container-price {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
}

.catalogueMain__content_products_description-container-price-old {
    text-decoration: line-through;
    margin-right: 18px;
    font-size: 18px;
}

@media only screen and (max-width: 406px) {
    .catalogueMain__content_products_description-container-price {
        font-size: 16px;
    }
    .catalogueMain__content_products_description-container-price-old {
        font-size: 13px;
    }
    .catalogueMain__content_products_description-container-title {
        font-size: 13px;
    }
}

@media only screen and (max-width: 324px) {
    .catalogueMain__content_products_description-container-price {
        font-size: 15px;
    }
    .catalogueMain__content_products_description-container-price-old {
        font-size: 12px;
    }
    .catalogueMain__content_products_description-container-title {
        font-size: 12px;
    }
}

.catalogueMain__content_products_description-container-btn {
    color: white;
    height: 35px;
    width: var(--items-width);
    border-radius: 5px;
    background-color: #67BFB4;
    font-size: 16px;
    font-weight: 800;
}

.pagination__elements {
    display: flex;
    justify-content: center;
}

.pagination__elements .redTxt {
    font-weight: 800;
}

.pagination__elements div {
    font-weight: 800;
}

.pagination__elements p {
    margin: 0 20px;
}