.catalogueMain__Top span {
    color: #e62e2d
}

.catalogueMain__Top_path-Paragraph a {
    color: black;
    text-decoration: none;
}

.catalogueMain__Top_path-Paragraph a:hover,
.catalogueMain__Top_path-Paragraph a:active {
    color: white;
}

.catalogueMain {
    display: flex;
    width: 100%;
}

.catalogueMain__sideMenu {
    width: 20%;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #E6DFDA;
    padding-left: 15px;
}

.catalogueMain__sideMenu ul {
    height: 100%;
    align-items: center;
    padding-left: 20px;
}

.catalogueMain__sideMenu li {
    padding-bottom: 20px;
}

.catalogueMain__sideMenu li::marker {
    font-size: 15px;
}

.catalogueMain__sideMenu p {
    color: #6C6965;
    margin: 0;
    cursor: pointer;
}

.catalogueMain__content {
    flex: 1;
}

.catalogueMain__content_banner {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: #6C6965;
}

.catalogueMain__content_title {
    font-size: 30px;
    margin: 0;
    padding: 0px 0 5px;
}

.catalogueMain__content_text_description {
    margin: 0px;
}

.catalogueMain__content_sort-n-filter {
    width: 100%;
    height: 50px;
    border-top: 1px solid #E6DFDA;
    border-bottom: 1px solid #E6DFDA;
    display: flex;
    align-items: center;
    color: #6C6965;
}

.catalogueMain__content_sort-n-filter-text {
    margin-right: 15px;
    font-size: 13px;
}

.filterSelect {
    width: 200px;
    height: 70%;
    color: black
}

.filterSelect select {
    appearance: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 1px solid #E6DFDA;
    border-radius: 3px;
    background-color: white;
    outline: 0;
    font-size: 20px;
    font-family: inherit;
    color: var(--black);
    line-height: 1.15384615;
}

.filterSelect select option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.filterSelect::before {
    border-top-width: 0;
    border-bottom-width: 6px;
    transform: translate(175.3px, 10px);
}

.filterSelect:after {
    border-top-width: 6px;
    border-bottom-width: 0;
    transform: translate(-25px, 20px);
}

.filterSelect::before,
.filterSelect::after {
    content: "";
    position: absolute;
    z-index: 25;
    border-color: #6C6965 transparent;
    border-style: solid;
    border-left-width: 6px;
    border-right-width: 6px;
    pointer-events: none;
}

@media only screen and (max-width: 767px) {
    .catalogueMain {
        flex-direction: column;
    }
    .catalogueMain__sideMenu {
        flex: 1;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .catalogueMain__sideMenu {
        margin-right: 20px;
        padding-left: 0;
    }
    .catalogueMain__sideMenu .sideContainer {
        padding: 15px;
    }
    .filterSelect {
        width: 150px;
    }
    .filterSelect::before {
        border-top-width: 0;
        border-bottom-width: 6px;
        transform: translate(125.3px, 10px);
    }
}