.homeMain {
    display: flex;
    width: 100%;
}

.homeMain__sideMenu {
    width: 20%;
    margin-right: 20px;
    background-color: #dad6bd;
}

.homeMain__sideMenu ul {
    height: 100%;
    align-items: center;
}

.homeMain__sideMenu li {
    padding-bottom: 20px;
}

.homeMain__sideMenu li::marker {
    font-size: 15px;
}

.homeMain__sideMenu a {
    color: black;
    text-decoration: none;
}

.homeMain__content {
    flex: 1;
}

.homeMain__content_banner {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: gray;
}

.homeMain__content_text_title {
    font-size: 30px;
    margin: 20px 0
}

.homeMain__content_text_description {
    margin: 0px;
}

@media only screen and (max-width: 767px) {
    .homeMain__sideMenu {
        display: none;
    }
}