.colorContainer {
    padding: 20 0px;
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.colorContainer div {
    height: 100%;
    width: 45px;
    cursor: pointer;
}

.txt_filter_selected {
    text-decoration: line-through;
}

.colorContainerSelected {
    height: 140%!important;
}

@media only screen and (max-width: 1023px) {
    .colorContainer {
        width: 110px;
    }
    .colorContainer div {
        width: 35px;
    }
}