.search_button {
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

.search_button:focus {
    outline: none;
}

.search_button_line {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 4px;
}

.search_button img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .search_button {
        display: flex;
    }
}