.footer {
    height: 180px;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: white;
}

.footer__wraper {
    width: 100%;
    height: 100%;
    background-color: #e62e2d;
}