:root {
    --page-safe-horizontal-area: 170px;
    --page-safe-vertical-area: 0;
    --space-between-divs: 20px;
    --nav-bar-size: 45px;
    --items-width: 140px;
    --items-heigth: 140px;
}

body {
    margin: var(--page-safe-vertical-area) var(--page-safe-horizontal-area);
    font-family: "Open Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bbBlueTxt {
    color: #40857A;
}

.bbBlueBg {
    background-color: #40857A;
}

.redTxt {
    color: #E60000;
}

.redBg {
    background-color: #E60000;
}

.orangeBg {
    background-color: #FF5700;
}

.whiteTxt {
    color: white;
}

.grayTxt {
    color: gray;
}

.grayBg {
    background-color: gray;
}

.customButtom {
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 800;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@media only screen and (max-width: 1439px) {
     :root {
        --page-safe-horizontal-area: 40px;
        --page-safe-vertical-area: 0;
    }
}

@media only screen and (max-width: 500px) {
     :root {
        --page-safe-horizontal-area: 20px;
    }
}

@media only screen and (max-width: 406px) {
     :root {
        --items-width: 120px;
        --items-heigth: 120px;
    }
}

@media only screen and (max-width: 324px) {
     :root {
        --items-width: 110px;
        --items-heigth: 110px;
    }
}